* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "poppins";
}
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/back-image.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 10px 10%;
}
.border {
  border-bottom: 2px solid transparent;
}
.border:hover {
  border-bottom: 4px solid #c430d7;
}
nav {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #333;
}
.btn {
  display: inline-block;
  color: white;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  text-decoration: none;
  font-size: 14px;
  padding: 14px 40px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  transition: 0.5s;
}
.btn:hover {
  border-top-right-radius: 30px;
}
.login_btn {
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-right: 3rem;
}
.main_container {
  margin-top: 10%;
  max-width: 600px;
}
.main_container h1 {
  font-size: 70px;
  color: #333;
}
.main_container p {
  margin: 10px 0px 30px 0px;
  line-height: 1.5;
  color: #333;
  animation-delay: 0.5s;
}
.main_container .btn {
  padding: 15px 80px;
  font-size: 16px;
  animation-delay: 1s;
}
.feature_img {
  width: 430px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.feature_img.anim {
  animation-delay: 1.5s;
}
.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
