* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(./images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.logo {
  width: 200px;
  cursor: pointer;
}
nav {
  width: 85%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
button {
  color: #fbfcfd;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.content {
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}
h1 {
  font-size: 80px;
  overflow: visible;
  margin: 10px 0px 30px;
  line-height: 80px;
}
.sidebar {
  width: 60px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(#00545d, #000729);
}
.menu {
  display: block;
  width: 30px;
  margin: 40px auto 0;
  cursor: pointer;
}
.social-links {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links img,
.useful-links img {
  width: 35px;
  margin: 1rem 0;
}
.useful-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-80vh);
  }
}
.bubbles img:nth-child(1) {
  animation-delay: 2s;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
}
